    .footer {
        width: 100%;
        bottom: 0;
        height: auto;
        text-align: center;
        background: #686260;
        align-content: center;
        margin-top: 3rem;
    }

    .yoh1 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        align-items: center;
        text-align: center;
        letter-spacing: -0.015em;
        color: #FFFFFF;
    }

    .yoh2 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.045em;
        color: #FFFFFF;
    }

    .privacy-policy {
        float: right;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        align-items: center;
        text-align: center;
        letter-spacing: -0.015em;
        color: #3AC2EF;
        margin-right: 2%;
    }

    #contact {
        background: #3AC2EF;
        border-radius: 4.11712px;
        border-color: none;
        font-family: Lato;
        font-style: normal;
        font-weight: 800;
        font-size: 10.2928px;
        font-size: 14px;
        line-height: 12px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.005em;
        color: #FFFFFF;
        width: 8rem;
        height: 2rem;
        margin-top: -15;
        border: none;
    }

    .terms-and-conditions {
        float: right;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        align-items: center;
        text-align: center;
        letter-spacing: -0.015em;
        color: #3AC2EF;
        margin-right: 2%;
    }

    .copyright {
        float: left;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 7px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        margin-left: 2%;
    }

    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 800px) {

        .leftcolumn,
        .rightcolumn {
            width: 100%;
            padding: 0;
        }
    }

    /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
    @media screen and (max-width: 400px) {
        .topnav a {
            float: none;
            width: 100%;
        }
    }