@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body,
html {
  padding: 0;
  margin: 0;
  font-family: Tahoma;
  overflow: auto;
}

.signup-wrapper {
  margin: auto;
  width: 35%;
  height: auto;
  border-style: solid;
  border-width: 1px;
  box-shadow: 10px 10px 30px 5px rgba(0, 0, 0, 0.1);
  border-style: none;
  background-color: #ffffff;
  top: 124px;
}


.title {
  position: relative;
  font-size: 36px;
  margin-top: 20px;
  text-align: center;
  color: #686260;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: -0.015em;
}


#invalidUser {
  position: relative;
  text-align: center;
  margin-left: 36%;
  margin-top: 15px;
  font-size: 12px;
  color: red;
  visibility: hidden;
}

.signupGoogle-container {
  margin-top: 25px;

}

.signupGoogle-container,
.signupLinkedIn-container {
  border-style: solid;
  border-width: 1px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 15px;
  border-color: #3AC2EF;
  text-align: center;
  letter-spacing: -1.5%;
  width: 70%;
  margin-left: 15%;
  border-radius: 5px;
}

.signupLinkedIn-container {
  margin-top: 7px;

}

#signupGoogle,
#signuplinkedIn {
  border-style: none;
  background-color: white;
  font-family: Montserrat;
  font-style: Bold;
  font-size: 15px;
  text-align: Center;
  letter-spacing: -1.5%;
  color: #3AC2EF;
}


.inputForm {
  width: 100%;
  margin-top: 15px;
}

#email,
#password {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  width: 70%;
  margin-left: 15%;
  font-size: 15px;
  font-style: normal;
  font-family: Lato;
  letter-spacing: -1.5%;
}

#password {
  margin-top: 15px;
}

#signIn {
font-family: sans-serif;
font-size: 15px;
text-decoration: none;
margin-left: 18%;
letter-spacing: -1.5%;
color: #3AC2EF;
}


#forgotPassword {
  position: relative;
  font-family: Montserrat;
  font-size: 14px;
  margin-left: 5%;
  color: #3AC2EF;
  text-decoration: none;
  /*removes the underline */
}

.haveAccount-container {
  position: relative;
  border-style: solid;
  width: 20%;
  margin-left: 15%;
}

#haveAccount {
  position: relative;
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  letter-spacing: -1.5%;
  color: black;
}

.signUp-container {
  position: relative;
  float: left;
  border-style: solid;
  width: 20%;
}


#signUp {
  position: relative;
  margin-left: 35%;
  margin-top: 15px;
  color: white;
  background-color: #3AC2EF;
  border-style: none;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  width: 35%;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 709px) {
  #forgotPassword {
    width: 100%;
    height: auto;
    /*margin-top: 0;*/
  }
}